<!DOCTYPE html>
%html(lang="sp")
  %head
    %meta(charset="utf-8")
    %meta(content="width=device-width, initial-scale=1.0" name="viewport")
    %meta(name="Robots" content="index,follow")
    - if @description
      %meta(name="description" content=@description)
    - if @keywords
      %meta(name="keywords" content=@keywords)
    %title= @title
    %link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css')
    <!--[if ! lte IE 6]><!-->
    %link(href="#{path_to('/css/master.css')}" rel="stylesheet")
    - local_stylesheet_link_tag('local')
    <!--<![endif]-->
    /[if lte IE 6]
      %link(rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection")
    /[if lt IE 9]
      %script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js")
    %link(href="#{path_to('/articles.xml')}" rel="alternate" type="application/atom+xml")
    = haml :analytics, :layout => false
  %body
    .header-image
    #container
      = haml :header, :layout => false
      = yield
      = haml :footer, :layout => false

<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//blog67webs.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>